<img src="./assets/img/burger.png">
<h3>Eat-Da-Burger!</h3>
<div id="notEaten">
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                <li>
   
                    {{id}} {{burger_name}}
                
                    <button class="devour" data-id="{{id}}">
                        Devour!
                    </button>
                </li>
            {{/unless}}
        {{/each}}

    </ul>
</div>
<h3>Eaten Burgers</h3>
<div id="eaten">
    <ul>
        
        {{#each burgers}}
            {{#if devoured}}
                <li>
                    {{id}} {{burger_name}}
                </li>
            {{/if}}
        {{/each}}
        
    </ul>
</div>
<div>
    <input type="input" id="burgerInput">

    <button class="submit">
        Submit
    </button>
</div>
<footer>
    <p>Enter a burger you want to eat and Click the "Submit" button</p>
</footer>